@use "../../../variables.scss" as v;

.content-container {
  min-height: 92vh;
}

.list-item,
.grid-item {
  margin: v.$p-ml;
  padding: v.$p-ml;
  border-radius: v.$p-s;
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  user-select: none;

  h3 {
    font-size: v.$fs-r;
    font-weight: 600;
  }

  h4,
  h5 {
    font-size: v.$fs-s;
    font-weight: 400;
    margin: v.$p-s 0 0 0;
  }
}

.list-item {
  background-color: v.$c-indigo;
}

.grid-item {
  position: relative;
  width: calc(100% - v.$p-ml * 4);

  h3 {
    margin: v.$p-xl 0 0 0;
  }

  h4 {
    font-size: v.$fs-sr;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .grid-item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: v.$p-s;

    img {
      width: 100%;
    }
  }

  .grid-item-image::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 45%,
        rgba(0, 0, 0, 0.70) 100%);
  }
}
