@use "../../variables" as v;

.side_menu-container {
  display: none;
}

@media (min-width: 1280px) {
  .side_menu-container {
    display: block;
    background-color: v.$c-indigo;
    width: 15%;
    max-width: 15%;
    padding: v.$p-m v.$p-ml;
    margin: v.$p-m;
    margin-right: 0;
    border-radius: v.$p-m;

    h3 {
      margin: 0 0 v.$p-s;
    }

    .side_menu-countries {
      height: calc(100% - 2rem);
      overflow-y: scroll;
      margin-bottom: 5rem;
      max-height: 90vh;
    }

    .country-item {
      margin: v.$p-m 0;
      cursor: pointer;
    }
  }
}
