@use "../../variables" as v;

p {
  margin: 0 0 v.$p-m;
}

.menu-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: v.$p-m;
  margin: v.$p-m 0;
}

.menu-row:first-child {
  margin: 0 0 v.$p-m;
}

.menu-countries {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: scroll;
  gap: v.$p-m;
}
