$c-dark-purple: #1a191e;
$c-indigo: #2d2c35;
$c-blue: #00a3ff;
$c-white: #fff;
$c-gray: #787680;

$p-s: 0.3rem;
$p-m: 1rem;
$p-ml: 1.3rem;
$p-l: 3rem;
$p-xl: 5rem;

$fs-s: 0.7rem;
$fs-sr: 0.8rem;
$fs-r: 1rem;
