@use "./variables" as v;

@import url('https://api.fonts.coollabs.io/css2?family=Montserrat:wght@300;500;600;700&display=swap');

::-webkit-scrollbar {
  width: v.$p-s;
}

::-webkit-scrollbar-track {
  background: v.$c-gray;
}

::-webkit-scrollbar-thumb {
  background: v.$c-dark-purple;
}

::-webkit-scrollbar-thumb:hover {
  background: v.$c-white;
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: v.$c-dark-purple;
  color: v.$c-white;
}

header,
footer {
  background-color: v.$c-indigo;
  padding: v.$p-m v.$p-ml;

  a {
    text-decoration: none;
    color: v.$c-white;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header-desktop-icons {
    display: none;
  }
}

svg:hover {
  cursor: pointer;
}

svg[data-active="false"] {
  color: v.$c-gray;
}

svg[data-active="true"] {
  color: v.$c-blue;
}

.country-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: v.$p-m;
  text-decoration: none;
  color: v.$c-white;
}

@media (min-width: 1280px) {
  header {
    .header-desktop-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: v.$p-m;
    }

    .header-mobile-hamburger {
      display: none;
    }
  }
}
